.cabecalho {
	background-color: #1a75ce;
}

.logo {
	background: url(../images/sprites.png) no-repeat;
	background-position: 0 -1322px;
	height: 40px;
	margin: 8px 0 8px 19px;
}

.rodape {
	margin-top: 50px;
	padding: 20px 0 20px 0;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.logo-rodape {
	background: url(../images/sprites.png) no-repeat;
	background-position: 0 -1036px;
	height: 20px;
    width: 169px;
    display: block;
    margin: 10px auto 10px auto;
}

.social-media {
	background: url(../images/social-media.png) no-repeat;
	height: 40px;
    width: 264px;
    display: block;
    margin: 10px auto 30px auto;
}

.icone-boleto {
	background: url(../images/sprites.png) no-repeat;
	background-position: 0 -289px;
	height: 29px;
    width: 43px;
    display: block;
}

.icone-usuario {
	background: url(../images/usuario.png) no-repeat;
	height: 31px;
    display: inline-block;
    background-size: 20px;
    padding: 5px 0 0 30px;
}

.icone-casa {
	background: url(../images/casa.png) no-repeat;
	height: 28px;
    display: inline-block;
    background-size: 20px;
    padding: 5px 0 0 30px;
}

.icone-pacote {
	background: url(../images/pacote.png) no-repeat;
	height: 31px;
    display: inline-block;
    background-size: 20px;
    padding: 5px 0 0 30px;
}

.titulo-carrinho {
	color: #666;
	padding: 20px 0 20px 0;
}

.titulo-resumo {
	color: #666;
	padding: 20px 0 10px 0;
}

.titulo-pagina h2 {
	font-size: 1.75em;
}

.carrinho {
	color: #666;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 1.5em;
}

.resumo {
	color: #666;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 1.5em;
}

.cadastro {
	color: #666;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 1.5em;
	padding: 30px;
}

.dados-pedido {
	padding-bottom: 20px;
}

.row-resumo {
	padding-left: 30px;
	padding-bottom: 20px;
}

.dados-entrega {
	background-color: #f7f7f7;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.itens-resumo {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}

.resumo-data-entrega {
	text-align: right;
}

.cabecalho-resumo {
	font-weight: bold;
	font-size: 12px;
}

.cabecalho-resumo-quantidade {
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}

.item-resumo {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.item-resumo-quantidade {
	text-align: right;
}

.dados-usuario {
	border-right: 1px solid #d2d2d2;
}

.cabecalho-carrinho {
	background-color: #f7f7f7;
	padding: 1em;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.item-cabecalho {
	color: #666;
}

.item-cabecalho-itens {
	text-align: left;
}

.item-cabecalho-preco {
	text-align: center;
}

.item-cabecalho-quantidade {
	text-align: center;
}

.item-cabecalho-subtotal {
	text-align: right;
}

#conteudo-carrinho {
	padding-left: 1em;
	padding-right: 1em;
}

#rodape-carrinho {
	padding-left: 1em;
	padding-right: 1em;
}

.item-carrinho-wrapper:first-child {
	border-top: 0;
}

.item-carrinho-wrapper {
	border-top: 1px dotted #d2d2d2;
	padding-top: 1em;
	padding-bottom: 1em;
}

.item-carrinho {
	display: flex;
	align-items: center;
	font-size: 1em;
}

.item-carrinho-items {
	color: #1a75ce;
}

.item-carrinho-preco {
	color: #5ea20d;
	text-align: center;
}

.item-carrinho-quantidade {
	
}

.valor-monetario {
	color: #5ea20d;
	text-align: right;
}

.spinner {
	display: flex;
	align-items: center;
	width: 40px;
	height: 34px;
	font-size: .5em;
	position: absolute;
	cursor: pointer;
	border-radius: 4px 0 0 4px;
	border: solid #d2d2d2;
	border-width: 1px 0 1px 1px;
	background-color: #f4f4f4;
	top: -17px;
}

a:hover {
	text-decoration: none;
	color: #f4832e;
}

.spinner-icon {
	float: none;
	margin: 0 auto;
	color: #1a75ce;
}

.spinner-icon:hover {
	color: #f4832e;
}

.spinner-input {
	width: 42px;
	height: 34px;
	text-align: center;
	font-family: "open sans", arial, sans-serif;
	color: #727272;
	border-radius: 0;
	border-width: 1px;
	background-color: #ffffff;
	font-size: .9em;
	left: 55px;
}

.spinner-button-right {
	left: 97px;
	border-width: 1px 1px 1px 0;
	border-radius: 0 4px 4px 0;
}

.remover-item {
	position: absolute;
	font-size: 10px;
	color: #1a75ce;
	top: 20px;
	left: 55px;
	cursor: pointer;
}

.rodape-carrinho {
	border-radius: 0 0 4px 4px;
	background-color: #f7f7f7;
	padding: 1em;
}

.item-rodape {
	padding-top: 1em;
	padding-bottom: 1em;
}

.desconto-carrinho-wrapper {
	border-top: 1px dotted #d2d2d2;
	border-bottom: 1px dotted #d2d2d2;
}

.total-rodape {
	font-size: 1.625em;
	padding-right: 0;
}

.total-carrinho {
	padding-right: 0;
	padding-left: 0;
}

.botao-wrapper {
	padding-right: 0;
	padding-left: 0;
}

.botao {
	background-color: #5a981c;
    border-color: transparent transparent #477716;
    border-width: 3px 0;
    color: #fff;
}

.botao:hover {
	color: #fff;
	background-color: #528b19;
    border-color: transparent transparent #416d14;
}